@import "tailwindcss";

@font-face {
    font-family: 'JakartaSans';
    src: url('/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'JakartaSans', sans-serif;
  }
  